#input {
    
    margin-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
}

body {
    background-color: #121212;
    color: white;
}

#responsive-menu {
    background-color: whitesmoke;
}
#dropdown-menu {
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
#dropdown-menu button {
    font-weight: bold;
    outline: none;

}

.header1 {
    text-align: center;
    font-family: 'Black Ops One';
    margin-top: 10px;
}

.single-h1, .single-h2 {
  font-size: 38px;
  text-align: center;
  font-family: 'Black Ops One';
  margin-top: 10px;
}

.single-h2 {
  font-size: 26px;
  margin-top: 0;
}

#results-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

}

#portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

/* const divider = $(`<div class="card-divider card-header"></div>`);
const companyName = $(`<p class="company-name"> ${stock.companyName}</p>`);
const stockPrice = $(`<p class="stock-price"> ${stock.price}</p>`);
const stockChangesPercentage = $(`<p class="stock-changes-percentage"> ${stock.changesPercentage}</p>`);
const stockSymbol = $(`<p class="stock-symbol"> ${stock.ticker}</p>`);
const stockImage = $(`<img class="stock-image"></img>`); */

.stock-card {
  width: 275px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.company-name {
    font-size: 12px;
    font-weight: bold;
}

.stock-details {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: grey;
    min-height: 70px;
}

.card-header a {
  color: black;
}

.card-header a:hover {
  color: blue;
}

.positive-change {
    color: greenyellow;
}

.negative-change {
    color: red;
}

#news-list {
    text-align: left;
    color: whitesmoke;
    
}
#news-list a {
    color: whitesmoke;
    font-weight: bold;
}

footer {
    color: whitesmoke;
    text-align: center;
}

#fetch-news-button {
    color: whitesmoke;
    text-align: center;
    margin-left: 7px;
    border: 1px solid whitesmoke;
    padding: 4px;
    border-radius: 6px;
    
}
#fetch-news-button:hover{
    background-color: whitesmoke;
    color: #121212;   
}

#save-stock-button {
  color: whitesmoke;
  text-align: center;
  margin-left: 10px;
  border: 1px solid whitesmoke;
  padding: 4px;
  font-size: 12px;
  padding: 3px;
  border-radius: 6px;
  margin-left: 7px;
  
}
#save-stock-button:hover{
  background-color: whitesmoke;
  color: #121212;   
}

#single-stock-form {
  text-align: center;
  margin: 15px;
}

.accordion-content {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.td-right {
  text-align: right;
  z-index: 7777;
  overflow-x: hidden;
}

.td-left {
  min-width: 185px;
  position: sticky;
  left: 0;
  background-color: inherit;
  background-color: #f9f9f9;
  z-index: 9999;
}


.position-card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: grey;
}

.position-details {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: right;
}
/* .position-price {

} */
/* .position-changes-percentage {

} */

#position-setup {
  display: flex;
  justify-content: center;
}

.position-card {
    width: 275px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.position-card-header a {
    color: black;
  }
  
.position-card-header a:hover {
    color: blue;
  }

#news-form {
  width: 100%;
  padding: 40px;
  text-align: center;
}

#symbol {
  width: 170px;
}

.accordion-title{
  font-size: 18px;
}

.position-value-summary {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
  text-align: center;
}


#position-setup input {
  font-size: 14px;
  padding: 3px;
}

.delete-position {
  background-color: rgba(255,0,0,0.5);
  position: absolute;
  right: 3px;
  bottom: 3px;
  visibility: hidden;
  outline: none;
}

.delete-position:hover {
  display: block;
}

.position-main-content {
  position: relative;
  ;
}

.position-main-content img {
  
}

.delete-button-visible {
  background-color: rgba(255,255,255,0.5);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  visibility: visible;
}

.delete-button-visible:hover {
  color: red;
}

#portfolio-value-container {
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
}

.w-50 {
  width: 50%;
}

nav a {
  width: 130px;
  text-align: center;
}

.d-none {
  display: none;
}

@media screen and (max-width: 655px) {
  #symbol, #fetch-news-button, #new-stock, #number-shares, #save-stock-button {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
  }

  #position-setup{
    width: 100%;
    padding: 40px;
    text-align: center;
    display: block;
  }
}